In [9]:
import pandas as pd

Wikipedia provides two categories of the largest cruise ships to explore. A table of data is provided for both active cruise ships as well as cruise ships that are on order (or under construction). Start by taking a brief look at both tables as obtained from the "largest_cruise_ships.py" script.

In [10]:
df = pd.read_csv('largest_cruise_ships.csv')
df.head()

,Rank[a],Ship name,Cruise line[b],Year[c],Grosstonnage[d],Lengthoverall[d][e],Beam[d],Beam[d].1,Staterooms,Passenger capacity[f],Passenger capacity[f].1,Image
0,Rank[a],Ship name,Cruise line[b],Year[c],Grosstonnage[d],Lengthoverall[d][e],Maximum[g],Waterline[h],Staterooms,Double[i],Maximum[j],Image
1,1,Symphony of the Seas,Royal Caribbean International,2018[k][7],"228,081[7]","361.011 m(1,184.42 ft)[7]",65.7 m(215.5 ft)[6],47.78 m(156.8 ft)[7],"2,759[6]","5,518[6]","6,680[6]",NaN
2,2,Harmony of the Seas,Royal Caribbean International,2016[k][29],"226,963[29]","362.12 m(1,188.1 ft)[29]",65.7 m(215.5 ft)[30],47.42 m(155.6 ft)[29],"2,747[30]","5,494[l][30]","6,687[30]",NaN
3,3,Oasis of the Seas,Royal Caribbean International,2009[k][31],"226,838[31]","360 m(1,180 ft)[31]",60.5 m(198 ft)[31],47 m(154 ft)[31],"2,742[32]","5,484[32]","6,780[32]",NaN
4,4,Allure of the Seas,Royal Caribbean International,2010[33],"225,282[33]","360 m(1,180 ft)[33]",60.5 m(198 ft)[33],47 m(154 ft)[33],"2,742[34]","5,484[34]","6,780[34]",NaN

In [11]:
df2 = pd.read_csv('largest_on_order_ships.csv')
df2.head()

,Rank[a],"Ship, class, or project name[b]",Cruise line[c],Year(planned)[d],Grosstonnage[b],Lengthoverall[b],Beam[b],Beam[b].1,Staterooms[b],Passenger capacity[b][e],Passenger capacity[b][e].1
0,Rank[a],"Ship, class, or project name[b]",Cruise line[c],Year(planned)[d],Grosstonnage[b],Lengthoverall[b],Maximum[f],Waterline[g],Staterooms[b],Double[h],Maximum[i]
1,1,Oasis Class,Royal Caribbean International,2024[19][149],"231,000[19]","362 m(1,188 ft)[19]",66 m(217 ft)[19],66 m(217 ft)[19],"2,857[19]","5,714[19]","6,700[19]"
2,2,Wonder of the Seas[150],Royal Caribbean International,2022[150],">228,081[137]",">362 m(1,188 ft)[137]",>65.7 m(215.5 ft)[137],>65.7 m(215.5 ft)[137],Un­known,"5,700[151]",Un­known
3,3,Global Dream[142],Dream Cruises,2021[142],"208,000[142]","342 m(1,122 ft)[142]",46.4 m(152 ft)[142],46.4 m(152 ft)[142],"2,350[142]","4,700[142]","9,000[142]"
4,3,Global Class,Dream Cruises,2022[142],"208,000[142]","342 m(1,122 ft)[142]",46.4 m(152 ft)[142],46.4 m(152 ft)[142],"2,350[142]","4,700[142]","9,000[142]"

A quick scan of the structure of the tables shows that this data will require cleaning before putting it to use. The header row is split into two rows due to a couple columns that are split into two categories. This resulted in all the columns receiving two header rows, even when one of the rows is a duplicate header that provides no extra info. Footnotes also exist throughout the table which will need to be removed.